* {
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #e85a4f;
  border-radius: 10px;
}

/* 
  Main UI colors
  #eae7dc
  #d8c3a5
  #8e8d8a
  #e98074
  #e85a4f
*/
#nothing {
  color: #eae7dc;
  color: #d8c3a5;
  color: #8e8d8a;
  color: #e98074;
  color: #e85a4f;
}
